{:require [zetawar.core]
 :init-fns [zetawar.core/init]
 :modules {:devcards {:entries #{"zetawar.devcards"}}}
 :compiler-options {:devcards true
                    :asset-path "/js/main.out"
                    :externs ["js/externs.js"]
                    :foreign-libs [{:file "lzw.js"
                                    :provides ["lzw"]}
                                   {:file "custom_ai.js"
                                    :provides ["zetawar-js-ai"]}]}}
