[project]
	description = Zetawar is a turn based tactical strategy game implemented in 100% ClojureScript.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/David Whittington (djwhitt)
[access "refs/for/refs/*"]
	read = group user/David Whittington (djwhitt)
	push = group user/David Whittington (djwhitt)
	label-Code-Review = -2..+2 group user/David Whittington (djwhitt)
	label-Verified = -1..+1 group user/David Whittington (djwhitt)
	rebase = group user/David Whittington (djwhitt)
	removeReviewer = group user/David Whittington (djwhitt)
	submit = group user/David Whittington (djwhitt)
[access "refs/heads/*"]
	read = group user/David Whittington (djwhitt)
	create = group user/David Whittington (djwhitt)
	push = +force group user/David Whittington (djwhitt)
	pushMerge = group user/David Whittington (djwhitt)
[access "refs/tags/*"]
	push = group user/David Whittington (djwhitt)
	push = +force group user/David Whittington (djwhitt)
